.row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2rem;
  width: 100%;
  margin-bottom: .5rem;
}
.button-small {
  display: none;
}
.row-container:hover .button-small {
  display: block;
}

