.App {
  background-color: #fffbf4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todobox{
  width: 20rem;
  height: 70vh;
  background-color: #fff;
  position: relative;
}
.input_box{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: .5rem;
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  border-top: 2px solid rgba(242, 242, 242, 0.745);
}

.input_box .button-large{
  flex: 1;
}
.input_box input{
  flex: 5;
   border-radius: 5px;
  padding: .5rem;
   border: none;
  background-color: rgb(240, 240, 240);
}
.todo_Cont{
  padding: 0 2rem;
  max-height: 48vh;
  overflow-y: auto;
}
.todo_head{
  padding: 1rem 2rem;
}
.todo_Cont::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}
.todo_Cont::-webkit-scrollbar-thumb {
  background-color: #4eb570; /* Green color for scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}
.todo_Cont::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color for scrollbar track */
}